<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Thaw</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>29</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8D82A727BA0F15C5242902B839ADA31EA484E941</string>
				<key>dateExpires</key>
				<string>3/23/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2053</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D82A727BA0F15C5242902B839ADA31EA484E941</string>
						<key>dateExpires</key>
						<string>3/23/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8D82A727BA0F15C5242902B839ADA31EA484E941</string>
								<key>dateExpires</key>
								<string>3/23/27</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>entitlements</key>
							<dict>
								<key>com.apple.application-identifier</key>
								<string>org.sparkle-project.Sparkle.Autoupdate</string>
							</dict>
							<key>name</key>
							<string>Autoupdate</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>LMMY392DLM</string>
								<key>name</key>
								<string>Kyle Worrall</string>
							</dict>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2053</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8D82A727BA0F15C5242902B839ADA31EA484E941</string>
								<key>dateExpires</key>
								<string>3/23/27</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>name</key>
							<string>Updater.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>LMMY392DLM</string>
								<key>name</key>
								<string>Kyle Worrall</string>
							</dict>
							<key>versionNumber</key>
							<string>2.9.0</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2053</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8D82A727BA0F15C5242902B839ADA31EA484E941</string>
								<key>dateExpires</key>
								<string>3/23/27</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>name</key>
							<string>Downloader.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>LMMY392DLM</string>
								<key>name</key>
								<string>Kyle Worrall</string>
							</dict>
							<key>versionNumber</key>
							<string>2.9.0</string>
						</dict>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
								<string>arm64</string>
							</array>
							<key>buildNumber</key>
							<string>2053</string>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8D82A727BA0F15C5242902B839ADA31EA484E941</string>
								<key>dateExpires</key>
								<string>3/23/27</string>
								<key>type</key>
								<string>Apple Development</string>
							</dict>
							<key>name</key>
							<string>Installer.xpc</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>LMMY392DLM</string>
								<key>name</key>
								<string>Kyle Worrall</string>
							</dict>
							<key>versionNumber</key>
							<string>2.9.0</string>
						</dict>
					</array>
					<key>name</key>
					<string>Sparkle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LMMY392DLM</string>
						<key>name</key>
						<string>Kyle Worrall</string>
					</dict>
					<key>versionNumber</key>
					<string>2.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>29</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D82A727BA0F15C5242902B839ADA31EA484E941</string>
						<key>dateExpires</key>
						<string>3/23/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MenuBarItemService.xpc</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LMMY392DLM</string>
						<key>name</key>
						<string>Kyle Worrall</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0-rc.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Thaw.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LMMY392DLM</string>
				<key>name</key>
				<string>Kyle Worrall</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.0-rc.4</string>
		</dict>
	</array>
</dict>
</plist>
